@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --bs-white: #ffffff;
    --bs-yellow: #ffc107;
    --bs-black: #000000;
    --bs-lightblack: #0c0c0c;
    --bs-grey: #656565;
    --bs-lightgrey: #e7e7e7;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow: hidden !important;
}

.bg_black {
    background-color: var(--bs-lightblack)!Important;
}

/* main css  */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bs-black)!important;
}

#miniNavLogo {
    display: none;
}

.search_bar {
    height: 50px;
    width: 600px;
    overflow: hidden;
    position: relative;
    outline: 2px solid var(--bs-grey);
}

.searchBarParent {
    max-width: 800px;
    min-width: 280px;
}

#searchBar {
    width: 100%;
    height: 100%;
    background-color: var(--bs-black);
    border: none !important;
    color: var(--bs-white);
    padding: 10px;
    outline: none;
}

#searchBar::placeholder {
    color: var(--bs-grey);
}

#searchBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

/* #searchBar:focus>.search_bar{
    outline: 2px solid blue!important;
} */

.AccountDetails {
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    width: 140px;
}

.smallSearchBtn {
    height: 30px;
    width: 30px;
    visibility: hidden;
}

.userAccount {
    height: 40px;
    width: 40px;
    background-color: var(--bs-lightgrey);
    color: var(--bs-grey);
}

.dropDown {
    width: 180px;
    position: absolute;
    right: 0px;
    top: 50px;
}

.userListItem {
    cursor: pointer;
    transition: 0.3s;
}

.userListItem:hover {
    background-color: var(--bs-lightgrey);
}

.userListItem i {
    color: var(--bs-black);
}

.wrapper {
    min-height: 100vh;
    max-height: fit-content;
    width: auto;
    background: var(--bs-lightblack);
    display: flex;
    overflow: hidden!important;
}

.side_bar {
    border: 1px solid ;
    height: 100vh;
    flex-basis: 18%;
    min-width: 240px;
    overflow: scroll!important;
}

/* width */
.side_bar::-webkit-scrollbar {
    width: 0px;
}

.sidebarList {
    width: 100%;
}

.sidebarList li {
    cursor: pointer;
    transition: 0.2s;
}

.sidebarList li:hover {
    color: var(--bs-yellow)!important;
    transform: translateX(5px);
    background-color: var(--bs-black);
}

.listIcon {
    width: 25px;
}

.sidebarList li:hover .listIcon{
    color: var(--bs-yellow);
}

#sideBarCanvas {
    width: 280px;
}

.font_bold {
    font-weight: 500;
}

.active {
    background-color: var(--bs-black);
}

.main_body {
    /* border: 1px solid red; */
    height: 100vh;
    flex-basis: 82%;
    overflow-y: scroll;
}

.main_body::-webkit-scrollbar {
    width: 7px;
}

.main_body::-webkit-scrollbar-track {
    background: var(--bs-lightgrey);
}

.main_body::-webkit-scrollbar-thumb {
    background: var(--bs-grey);
    border-radius: 30px;
}

.main_body::-webkit-scrollbar-thumb:hover {
    background: var(--bs-black);
}

/* tags section  */

.articleTagsSection {
    height: 40px;
    position: fixed;
    top: 70px;
}

.quickcontentTag {
    cursor: pointer;
}

/* body cards section  */

.articleBody {
    position: relative;
    top: 70px;
}

.cardsParentSection {
    display: flex;
    flex-wrap: wrap;
}

.mainContentCard {
    border: 1px solid blueviolet;
    height: 140px;
}

.card {
    cursor: pointer;
}

.audiocardImage {
    height: 120px;
    width: 200px;
    border: 1px solid red;
}


.title_text {
    color: var(--bs-white);
    text-transform: uppercase;
    transition: 0.3s;
}

.card:hover .title_text {
    text-decoration: 0.4px underline;
}




/* media queries  */

/* 992px  */
@media (max-width: 992px) {
    .side_bar {
        display: none;
        flex-basis: 0!important;
    }   
    .main_body {
        flex-basis: 100%!important;
    }
    #search_bar {
        display: none;
    }
    .smallSearchBtn {
        visibility: visible!important;
    }
    #miniSearchBar {
        display: block!important;
    }
    #sideBarCanvas {
        display: block!important;
    }
}
@media (min-width: 992px) {
    .smallSearchBtn {        
        visibility: hidden!important;
    }
    .offcanvas-backdrop.show,
    #miniSearchBar.show {
      display: none !important;
    }
    #sideBarCanvas {
        display: none!important;
    }
/*   
    #miniSearchBar.show {
        display: none!important;
    } */
}
/* 425px  */
@media (max-width: 425px) {
    .AccountDetails {
        width: 100px!important;
    }
    #NavLogo {
        display: none!important;
    }
    #miniNavLogo {
        display: block!important;
    }
}
@media (min-width: 425px) {
    #NavLogo {
        display: block!important;
    }
    #miniNavLogo {
        display: none!important;
    }
}